<h1>Tabla de productos:</h1>

    <div>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            <% for (const obj of data) { %>
            <tr>
                <td><%=obj.name%></td>
                <td><%=obj.price%></td>
                <td><%=obj.thumbnail%></td>
            </tr>
            <% }; %>
        </table>
    </div>


<!-- <table>
   <tr>
      <th>Dimension</th><th>Quantity</th><th>Factory: rx</th><th>Factory: hsf</th>
   </tr>
   <tr>
      <td>0</td><td>100</td><td>3</td><td>1.2</td>
   </tr>
   <tr>
      <td>0</td><td>200</td><td>4</td><td>2.4</td>
   </tr>
   <tr>
      <td>1</td><td>100</td><td>3</td><td>3</td>
   </tr>
   <tr>
      <td>1</td><td>200</td><td>5</td><td>4.5</td>
   </tr>
</table> -->